<div class="coffee-card">
  <div class="card-content columns">
    <div class="column is-4"></div>
    <div class="search-input-wrapper column is-4">
      <div class="inputs">
        <Input @id="first-four" @placeholder="XXXX" @maxlength="4"/>
        <p class="card-dash">-</p>
        <Input @id="mid-three" @placeholder="XXX" @maxlength="3"/>
        <p class="card-dash">-</p>
        <Input @id="last-four" @placeholder="XXXX" @maxlength="4"/>
      </div>
    </div>
    <div class="column is-4"></div>
  </div>
</div>

{{yield}}

