.coffee-card {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 10px 5px #888888;

  .card-content {
    margin: 40px;

    .search-input-wrapper {
      border: 1px solid grey;
      border-radius: 6px;
      
      .inputs {
        margin: 10px;

        input[type="text"] {
          font-size: 1.75em;
          display: inline-flex;
          text-transform: uppercase;
          border-style: none;
          letter-spacing: 6px;
          width: 20%;
        }
  
        // #first-four, #last-four {
        //   width: 75px;
        // }
  
        // #mid-three {
        //   width: 60px;
        // }
  
        .card-dash {
          display: inline-flex;
          font-size: 1.75em;
        }
      }
    }
  }

  .card-info {
    margin: 20px;
  }
}